<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.gdit.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserloginServlet</servlet-name>
    <servlet-class>macaoeasybuy.servlet.login.UserloginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>macaoeasybuy.servlet.goodsmanage.AddGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateSupplier</servlet-name>
    <servlet-class>macaoeasybuy.servlet.createsupplier.CreateSupplier</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSupplier</servlet-name>
    <servlet-class>macaoeasybuy.servlet.updatepsupplier.UpdateSupplier</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateGoods</servlet-name>
    <servlet-class>macaoeasybuy.servlet.goodsmanage.UpdateGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserInfor</servlet-name>
    <servlet-class>macaoeasybuy.servlet.adduser.AddUserInfor</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopLogManage</servlet-name>
    <servlet-class>macaoeasybuy.servlet.log.ShopLogManage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateLogUserStstute</servlet-name>
    <servlet-class>macaoeasybuy.servlet.log.UpdateLogUserStstute</servlet-class>
  </servlet>










<!-- 
功能：用户登录
编者：徐新院
时间：2015/7/29
 -->
  <servlet-mapping>
    <servlet-name>UserloginServlet</servlet-name>
    <url-pattern>/UserloginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 
功能：添加商品
编者：徐新院
时间：2015/7/30
 -->
    <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/AddGoods</url-pattern>
  </servlet-mapping>
  
  <!-- 
功能：添加供应商
编者：徐新院
时间：2015/7/31
 -->
 <servlet-mapping>
    <servlet-name>CreateSupplier</servlet-name>
    <url-pattern>/CreateSupplier</url-pattern>
  </servlet-mapping>
  
  <!-- 
功能：修改供应商
编者：徐新院
时间：2015/8/1
 -->
  <servlet-mapping>
    <servlet-name>UpdateSupplier</servlet-name>
    <url-pattern>/UpdateSupplier</url-pattern>
  </servlet-mapping>
  <!-- 
功能：修改商品信息
编者：徐新院
时间：2015/8/1
 -->
  <servlet-mapping>
    <servlet-name>UpdateGoods</servlet-name>
    <url-pattern>/UpdateGoods</url-pattern>
  </servlet-mapping>
  <!-- 
  功能：添加店员信息
  编者：徐新院
  时间：2015/8/4
   -->
  <servlet-mapping>
    <servlet-name>AddUserInfor</servlet-name>
    <url-pattern>/AddUserInfor</url-pattern>
  </servlet-mapping>
  
  <!-- 
  功能：添加商家日志信息(参与人员添加之后修改日志内容信息即：步骤二)
  编者：徐新院
  时间：2015/8/6
   -->
  <servlet-mapping>
    <servlet-name>ShopLogManage</servlet-name>
    <url-pattern>/ShopLogManage</url-pattern>
  </servlet-mapping>
   <!-- 
  功能：修改日志对应的状态shoppdiary.jsp
  编者：徐新院
  时间：2015/8/7
   -->
  <servlet-mapping>
    <servlet-name>UpdateLogUserStstute</servlet-name>
    <url-pattern>/UpdateLogUserStstute</url-pattern>
  </servlet-mapping>


  
  <!-- 默认首页 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
